<!DOCTYPE html>
<html>
  <head>
    <title>Wildfire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.0/svgs/solid/fire-flame-curved.svg">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application.bootstrap", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: "module" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body class="container mx-auto bg-secondary bg-opacity-25">
    <h3 class="text-lg text-center my-3 d-flex align-items-center justify-content-center">
      <i class="fa fa-xs fa-fire-flame-curved mt-1"></i>wildfire
    </h3>
    <%= render partial: "shared/nav" if @current_user %>
    <%= render partial: "shared/flash" unless flash.empty? %>
    <main class="mx-auto bg-white border rounded max-w-screen-md m-3 p-2"><%= yield %></main>
  </body>
</html>
